[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Used to test code review.
[access "refs/*"]
	owner = group user/yusufav
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yusufav
	label-Verified = -1..+1 group user/yusufav
	push = group user/yusufav
	read = group user/yusufav
	rebase = group user/yusufav
	removeReviewer = group user/yusufav
	submit = group user/yusufav
[access "refs/heads/*"]
	create = group user/yusufav
	push = +force group user/yusufav
	pushMerge = group user/yusufav
	read = group user/yusufav
[access "refs/tags/*"]
	push = group user/yusufav
	push = +force group user/yusufav
